@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: hsl(210, 46%, 95%);
}

.container{
  margin: 80px 24px;
  display: grid;
  grid-template-areas:
    "danielArea"
    "jonathanArea"
    "jeanetteArea"
    "patrickArea"
    "kiraArea"
  ;
  gap: 1.5rem;
}

.post{
  padding: 1.5rem 2.6rem 2rem 2rem;
  span{
    color: hsl(0, 0%, 100%);
  }
  p{
    color: hsl(0, 0%, 81%);
    font-size: 16px;
    line-height: 1.4rem;
  }
  .title{
    font-size: 25px;
    font-weight: 600;
  }
  border-radius: 10px;
}

#danielContainer{
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 240px 0px;
  background-color: hsl(263, 55%, 52%);
  grid-area: danielArea;
  img{
    border: 2px solid hsl(263, 58%, 61%);
  }
  p{
    padding-right: 1.8rem;
  }
}

#jonathanContainer{
  background-color: hsl(217, 19%, 35%);
  grid-area: jonathanArea;
}

#jeanetteContainer{
  background-color: hsl(0, 0%, 100%);
  span{
    color: hsl(217, 19%, 35%);
  }
  .title{
    color: hsl(217, 19%, 35%);
  }
  p{
    color: hsl(0, 0%, 60%);
    padding-right: 1.8rem;
  }
  grid-area: jeanetteArea;
}

#kiraContainer{
  background-color: hsl(0, 0%, 100%);
  span{
    color: hsl(217, 19%, 35%);
  }
  .title{
    color: hsl(217, 10%, 40%);
  }
  p{
    color: hsl(0, 0%, 60%);
    padding-right: 1.6rem;
  }
  grid-area: kiraArea;
  padding: 30px;
  line-height: 20px;
}


#patrickContainer{
  background-color: hsl(219, 29%, 14%);
  grid-area: patrickArea;
  img{
    border: 2px solid hsl(263, 55%, 52%);
  }
  p{
    padding-right: 0.6rem;
  }
}

.authorContainer{
  display: flex;
  img{
    border-radius: 30px;
    height: 40px;
    width: auto;
  }
  .information{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    span{
      margin-bottom: 2px;
      font-size: 16px;
      font-weight: 500;
    }
    p{
      font-size: 16px;
      color: hsl(0, 0%, 100%);
      opacity: 50%;
    }
  }
}

.description{
  margin-top: 1rem;
}


@media screen and (min-width:1000px) {
  .container{
    margin: 5rem 10rem;
    display: grid;
    grid-template-areas:
      "danielArea   danielArea  danielArea  jonathanArea  kiraArea"
      "jeanetteArea patrickArea patrickArea patrickArea   kiraArea"
    ;
    gap: 2rem;
  }

  .post{
    padding: 25px 30px;
    p{
      font-size: 13px;
      line-height: 1.4rem;
    }
    .title{
      font-size: 20px;
      font-weight: 600;
    }
  }
  
  .authorContainer{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    img{
      border-radius: 30px;
      height: 32px;
      width: auto;
    }
    .information{
      margin-left: 1rem;
      margin-top: 3px;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      span{
        margin-bottom: -3px;
        font-size: 12px;
        font-weight: 500;
      }
      p{
        font-size: 11px;
        color: hsl(0, 0%, 100%);
        opacity: 50%;
      }
    }
  }

  #danielContainer{
    background-position: 330px 0px;
    p{
      padding-right: 0;
    }
    .title{
      font-size: 19px;
    }
  }

  #jonathanContainer{
    .title{
      font-size: 19px;
    }
    p{
      line-height: 20px;
    }
  }

  #kiraContainer{
    p{
      line-height: 20px;
      font-size: 14px;
      padding-right: 0.5rem;
    }
  }

  #jeanetteContainer{
    .description{
      padding-right: 0;
      font-size: 14px;
      line-height: 18px;
    }
  }

  #patrickContainer{
    .title{
      font-size: 18px;
    }
    p{
      padding-right: 0;
      font-size: 12px;
    }
  }

}